<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>WorldSkills</title>
<link rel="stylesheet" href="js/jquery-ui-1.11.4/themes/start/jquery-ui.css">
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>

    <nav><ul>
      <li><a href="#top"></a><div id="handSymbol"></div></li>
      <li><a href="#result">Result</a></li>
      <li><a href="#photos">Photos</a></li>
      <li><a href="#worldskills">Worldskills</a></li>
      <li><a href="#webdesign">Webdesign</a></li>
    </ul></nav>
    <section id="slider"><div>
      <div></div>
      <div></div>
      <div></div>
      <span class="c"></span>
     </div></section>
    <section id="webdesign"><div>
    	<img src="images/p1.jpg" alt="About">
        <div>
          <h1>About the Webdesign Skill</h1>
          <p>Web Design encompasses many different skills and disciplines in the production and maintenance of websites. The diversity of the skills required by a web developer are many, often to the point it is difficult for a web designer to excel in all aspects. As a result, a team may cover the Web Design process, with each member of the team having their own strengths, specialties and role in the development process.</p>
          <p>TWeb Design involves implementing specific solutions that follow the business rules and objectives outlined by the client. Web Designers develop a professional relationship with their clients, interacting with them in order to develop a deep understanding of the requirements and convert these into a website specification. Strong design and communication skills, coupled with research techniques and a grasp of target audiences, markets and trends, will ensure initial client satisfaction and credibility for the Web Designer.</p>
		  <div class="hidden-text">
          <p>Having completed the website planning and design, the Web Designer then integrates the website with third party tools and platforms. During the development process web designers design and develop the databases, create programs, tests and debug the website. The current trend is to also integrate the website with Social Media and take advantage of the leverage these modern platforms bring.</p> 
          <p>All these skills may apply equally to the re-design or an upgrade of an existing website. A Web Designer has many employment opportunities. This can range from being a self-employed freelancer to being employed by media organizations and advertising agencies. Web Designer positions may be broad in scope or specialize in an area such as Graphic Design, Client Management, Front End Development, Back End/Server Side Development and User End Designer. Whichever role a web designer chooses to specialize in they will need to have access to ICT facilities, open source libraries and frameworks.</p>
          <p>High performing Web Designers may have broad or specialist web-related skills. However, to excel they must have a strong grasp of copyright law and a well-developed personal code of ethics. They must understand artistic values, and take personal responsibility for being constantly at the forefront of trends and web technology. They must also be responsive to clients and have the ability to work in structured and unstructured teams and groups. These qualities enable the Web Designer to contribute and take advantage of this rapidly developing aspect of modern communications technology.</p>
		  </div>
        </div>
        <span class="c"></span>
    </div></section>
    <section id="worldskills"><div>
    	<img src="images/p2.jpg" alt="About">
        <div>
          <h1>About WorldSkills Competition</h1>
          <p>The WorldSkills Competition is our flagship event, held every two years and is the biggest vocational education and skills excellence event in the world that truly reflects global industry. The Competitors represent the best of their peers and are selected from skill competitions in WorldSkills Member countries and regions. They are all under the age of 23 years (except for four skills that have the age limit of 25). They demonstrate technical abilities both individually and collectively to execute specific tasks for which they study and/or perform in their workplace.</p>
          <p>One of the main legacies of the WorldSkills Competitions is to give visibility and importance to professional education, as one of the true tools of socioeconomic transformation.</p>
          <p>The Competition also provides leaders in industry, government and education with the opportunity to exchange information and best practices regarding industry and professional education. New ideas and processes inspire school-aged youth to dedicate themselves to technical and technological careers and towards a better future.</p>
		  <div class="hidden-text">
          <p>In order to compete at the WorldSkills Competition, a Competitor has to come from a Member country/region. Members have different ways of selecting their team members so it is best to contact the Member in your country/region.</p>
		  <p>A Competitor at the WorldSkills Competition must not be older than 22 in the year of the Competition. Competitors in Information Network Cabling, Mechatronics, Manufacturing Team Challenge, and Aircraft Maintenance, must not be older than 25 years in the year of the Competition.</p>
		  </div>
        </div>
        <span class="c"></span>
        
    </div></section>
    <section id="photos"><div>
        <div>
          <h1>Photos</h1>
          <p>	<img src="images/photo1.jpg" alt="photo1"><img src="images/photo2.jpg" alt="photo2"><img src="images/photo3.jpg" alt="photo3"><img src="images/photo4.jpg" alt="photo4"><img src="images/photo5.jpg" alt="photo5"><img src="images/photo6.jpg" alt="photo6"></p>
        </div>
    </div></section>
    <section id="result"><div>
    	<h1>Results</h1>
        <div>
        	<h2>2013 - LEIPZIG</h2>
            <ul>
              <li>
                <div>17 - Webdesign</div>
                <ul>
                  <li data-country="Korea" data-photo="medaillist-2013-1.jpg" title="GOLD">Yong Ku Cho</li>
                  <li data-country="Macao, China" data-photo="medaillist-2013-2.jpg" title="SILVER">Chon Seng Che</li>
                  <li data-country="Iran" data-photo="medaillist-2013-3.jpg" title="BRONZE">Hadi Mostafapour</li>
                </ul>
              </li>
            </ul>

        </div>
        <div>
        	<h2>2015 - SÃO PAULO</h2>
            <ul>
              <li>
                <div>17 - Webdesign</div>
                <ul>
                  <li data-country="Brazil" data-photo="medaillist-2015-1.jpg" title="GOLD">Giovanni Kenji Shiroma</li>
                  <li data-country="Australia"  data-photo="medaillist-2015-2.jpg" title="SILVER">Harlan Wilton</li>
                  <li data-country="Korea" data-photo="medaillist-2015-3.jpg"  title="BRONZE">Eun Young Kim</li>
				          <li data-country="Iran" data-photo="medaillist-2015-4.jpg"  title="BRONZE">Mohamad Mohebifar</li>
                </ul>
              </li>
            </ul>
        </div>
        <span class="c"></span>
		<div id="compitorinfo"></div>
    </div></section>
	<script src="js/jquery-1.12.3.min.js"></script>
	<script src="js/jquery-ui-1.11.4/jquery-ui.js"></script>
	<script src="js/app.js"></script>
</body>
</html>