
body { margin:0;font:16px/22px Arial;color#333; }

section, nav { display:block;padding:20px; }
h1 { font:bold 35px Arial;color:#555;letter-spacing:-1pt }
h2 { font:bold 25px Arial;color:#999;letter-spacing:-1pt }

.c { clear:both;float:none!important;display:block }
.hidden-text, #compitorinfo { display:none; }
nav ul { padding:10px;width:930px;height:70px;margin:0 auto;list-style:none; }
nav ul li { float:right;height:38px;margin-top:20px }
nav ul li a { display:block;color:#369;text-align:center;padding:5px 10px;text-decoration:none; }
nav ul li a sup { font-size:8px;line-height:10px; }
nav ul li a:hover { background:#369;color:white; }
nav ul li:first-child { float:left;width:100px;height:70px;position:relative;margin-top:0 }
nav ul li:first-child a { position:absolute;width:100px;height:70px;background:url(images/worlskills.png) no-repeat bottom;padding:0;z-index:2 }
nav ul li:first-child div { position:absolute;width:45px;height:53px;background:url(images/handsymbol.png) no-repeat;left:55px }

#slider > div { width:866px;margin:0 auto 50px; }
#slider > div div { float:left;border:dotted 1px gray;width:50px;height:50px;margin:150px 10px; }
#slider > div div:nth-child(2) { width:700px;height:350px;margin-top:0;margin-bottom:0 }

#webdesign { height:500px;background:#eee;box-shadow:inset 0 0 20px #CCC }
#webdesign > div { width:866px;margin:0 auto; }
#webdesign > div div { color:gray; }
#webdesign img { float:right;border:solid 8px white;box-shadow:5px 5px 10px #AAA;transform:rotate(10deg);margin:80px 10px 70px 70px;width:250px;height:250px; }

#worldskills { border:solid 5px #EEE;border-left:none;border-right:none }
#worldskills > div { width:866px;margin:0 auto; }
#worldskills > div div { color:gray;width:530px;float:right }
#worldskills img { float:left;border:solid 8px white;box-shadow:5px 5px 10px #AAA;transform:rotate(-5deg);margin:80px 70px 70px 10px;width:220px;height:220px; }


#photos {  border-bottom:solid 5px #EEE;; }
#photos > div { width:866px;margin:0 auto; }
#photos > div div { color:gray; }
#photos img { border:solid 8px white;box-shadow:5px 5px 10px #AAA;margin:10px;width:240px;height:160px; }

#result { background:#182744;box-shadow:inset 0 5px 10px #000 }
#result h1, #result h2 { color:white; }
#result li { color:white; }
#result > div { width:866px;margin:0 auto; }
#result > div > div { width:42%;margin:0 2%;float:left }
#result > div > div:last-child { float:right; }
#result > div > div > ul div { font-size:15px;font-weight:bold }
#result > div > div > ul li { font-size:13px; }

